.todo-list li {
    color:orange;
    &:hover {
        cursor:pointer;
        text-decoration:line-through;
    }

    &.completed {
        text-decoration:line-through;
        color:black;

        &:hover {
            color:red;
        }
    }
}
